# This is a basic workflow to help you get started with Actions

on: [push]

name: AzureDemo

jobs:

  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
    
    - uses: azure/login@v1
      with:
        creds: ${{ secrets.AZURE_CREDENTIALS }}
    
    - run: |
        az account show
        az resource list
